<?xml version="1.0"?>

<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" launch-prefix="konsole -e">
	<!--<param name="base_global_planner" value="carrot_planner/CarrotPlanner" />-->
	<!--<param name="base_global_planner" value="global_planner/GlobalPlanner" />-->
    <rosparam file="$(find lab_assignment_2)/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find lab_assignment_2)/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find lab_assignment_2)/param/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find lab_assignment_2)/param/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find lab_assignment_2)/param/base_local_planner_params.yaml" command="load"/>
    <rosparam file="$(find lab_assignment_2)/param/move_base_params.yaml" command="load"/>
  </node>
</launch>
